
body {
    width: 1000px;
}

.row {
    width: 100%;
    display: flex;
}

.tab-2 {
    width: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px dotted black;
}

.contentdiv {
    margin: 10px;
    width: 100%;
}

#plotsvg {
    width: 500px;
    height: 500px;
}

form  {    
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
}
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
select { display: table-cell; width: 100%;}

button {
    height: 20px;
    width: 200px;
}
